{% extends 'base.html.twig' %}

{% block title %}{{ 'common.data.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.data.edit'|trans }}</h1>

    {{ include('data/_form.html.twig', {'button_label': 'common.save'}) }}

    <a href="{{ path('app_data_show', {'id': data.id}) }}">{{ 'common.back'|trans }}</a>
    <hr />
    {{ include('data/_delete_form.html.twig') }}
{% endblock %}
