{% extends 'base.html.twig' %}

{% block title %}{{ 'common.data.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.data.index'|trans }}</h1>

    <a href="{{ path('app_home') }}">{{ 'common.create.data'|trans }}</a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'common.field.id'|trans }}</th>
                <th>{{ 'common.field.type'|trans }}</th>
                <th>{{ 'common.field.title'|trans }}</th>
                <th>{{ 'common.field.parent'|trans }}</th>
                <th>{{ 'common.field.tags'|trans }}</th>
                <th>{{ 'common.field.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for data in data %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.type }}</td>
                <td><a href="{{ path('app_data_show', {'id': data.id}) }}">{{ data.title }}</a></td>
                <td>{% if data.parent %}<a href="{{ path('app_data_show', {'id': data.parent.id}) }}">{{ data.parent }}</a>{% endif %}</td>
                <td>{% for tag in data.tags %}#{{ tag }} {% endfor %}</td>
                <td>
                    <a href="{{ path('app_data_edit', {'id': data.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'common.no.records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
