{% extends 'base.html.twig' %}

{% block title %}{{ 'common.create.data'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.create.data'|trans }}</h1>

    {{ include('data/_form.html.twig') }}

    <a href="{{ path('app_data_index') }}">{{ 'common.back'|trans }}</a>
{% endblock %}
