{% extends 'base.html.twig' %}

{% block title %}{{ 'common.data.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ data.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'common.field.id'|trans }}</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>{{ 'common.field.tags'|trans }}</th>
                <td>{% for tag in data.tags %}<span class="badge bg-secondary">{{ tag }}</span> {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <p><strong>{{ 'common.field.body'|trans }}</strong></p>
        {{ data.body|default('common.body.empty')|trans }}
    </div>

    <hr />

    <a href="{{ path('app_home', {'parent': data.id}) }}">{{ 'data.add'|trans }}</a>
    <br />
    <a href="{{ path('app_data_edit', {'id': data.id}) }}">{{ 'data.edit'|trans }}</a>
{% endblock %}
