{% extends 'base.html.twig' %}

{% block title %}{{ 'common.data.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.data.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'common.field.id'|trans }}</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>{{ 'common.field.title'|trans }}</th>
                <td>{{ data.title }}</td>
            </tr>
            <tr>
                <th>{{ 'common.field.tags'|trans }}</th>
                <td>{% for tag in data.tags %}#{{ tag }} {% endfor %}</td>
            </tr>
            <tr>
                <th>{{ 'common.field.parent'|trans }}</th>
                <td>
                    {% if data.parent %}
                    <a href="{{ path('app_data_show', {'id': data.parent.id}) }}">{{ data.parent }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'common.field.body'|trans }}</th>
                <td>{{ data.body }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_data_edit', {'id': data.id}) }}">{{ 'data.edit'|trans }}</a>
    <a href="{{ path('app_home', {'parent': data.id}) }}">{{ 'data.add'|trans }}</a>

    {{ include('data/_delete_form.html.twig') }}
{% endblock %}
