{% extends 'base.html.twig' %}

{% block title %}{{ 'common.data.title'|trans }}{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-3">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ path('app_home', {'parent': data.id}) }}">{{ 'data.add'|trans }}</a></li>
                <li class="list-inline-item"><a href="{{ path('app_data_edit', {'id': data.id}) }}">{{ 'data.edit'|trans }}</a></li>
            </ul>
            <p><strong>{{ 'common.field.parent'|trans }}</strong></p>
            <p>
                {% if data.parent %}
                    <a title="{{ data.parent }}" href="{{ path('app_data_show', {'id': data.parent.id}) }}">{{ data.parent.id }} - {{ data.parent|u.truncate(10, '...', false) }}</a>
                {% else %}
                    <a title="{{ 'common.data.root'|trans }}" href="{{ path('app_data_index') }}">{{ 'common.data.root'|trans }}</a>
                {% endif %}
            </p>
            <p><strong>{{ 'common.data.children'|trans }}</strong></p>
            <ul class="list-unstyled">
                {% for child in children %}
                    <li>
                        <a title="{{ child }}" href="{{ path('app_data_show', {'id': child.id}) }}">{{ child.id }} - {{ child|u.truncate(10, '...', false) }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-9">
            <h1>{{ data.title }}</h1>
            <ul class="list-inline">
                {% for tag in data.tags %}
                    <li class="list-inline-item">
                        <a href="{{ path('app_tag_show', {'id': tag.id}) }}"><span class="badge text-bg-info link-dark">{{ tag }}</span></a>
                    </li>
                {% endfor %}
            </ul>

            <div>{{ data.body|default('')|markdown_to_html }}</div>

        </div>
    </div>





{% endblock %}
