<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'common.welcome'|trans }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('app_home') }}">{{ 'app.home'|trans }}</a> | <a href="{{ path('app_data_index') }}">{{ 'app.data.index'|trans }}</a>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
